<%- include('partials/header') %>
<%- include('partials/homenavbar') %>



<body>
    <style>
        .ad-left, .ad-right {
            display: block;
            justify-content: center;
            align-items: center;
            height: 600px;
            margin-top: 80px;
        }
        .ad-image {
            width: 571px;
            height: 320px;
            object-fit:scale-down;
            display: block;
            width: 100%; /* Ajuste conforme necessário */
            margin-bottom: 40px;
            display: block;
            
        }
        .content {
            height: 100vh; 
            
        }

        @media (max-width: 767.98px) {
            .ad-left, .ad-right {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ad-left" style="">
                <a href="https://www.instagram.com/blackout_eunapolis/">
                <img src="/img/blackout.png" class="ad-image" alt="Propaganda Esquerda">
            </a>
            <a href="https://site-imperial.vercel.app/">
                <img src="/img/imperial.jpg" class="ad-image" alt="Propaganda Esquerda">
            </a>

            
            <h1>Últimos Artigos</h1>
    <div id="articles">
        <% if (allArticles.length > 0) { %>
            <% allArticles.forEach(article => { %>
                <div class="article">
                    <h2><%= article.title %></h2>
                    <p><%= article.description %></p>
                    <a href="/articles/<%= article.id %>">Leia mais</a>
                </div>
            <% }); %>
        <% } else { %>
            <p>Nenhum artigo encontrado.</p>
        <% } %>
    </div>

    <hr>

    <h1>Artigos em Destaque</h1>
    <div id="destaques">
        <% if (destaquesArticles.length > 0) { %>
            <% destaquesArticles.forEach(article => { %>
                <div class="article">
                    <h2><%= article.title %></h2>
                    <p><%= article.description %></p>
                    <a href="/articles/<%= article.id %>">Leia mais</a>
                </div>
            <% }); %>
        <% } else { %>
            <p>Nenhum artigo em destaque encontrado.</p>
        <% } %>
    </div>
                <h1 class="display-4">Destaques</h1>



                <div id="destaques">
                    <% if (destaquesArticles.length > 0) { %>
                        <% destaquesArticles.forEach(article => { %>
                            <div class="article">
                                <h2><%= article.title %></h2>
                                <p><%= article.description %></p>
                                <a href="/articles/<%= article.id %>">Leia mais</a>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p>Nenhum artigo em destaque encontrado.</p>
                    <% } %>
                </div>

                <%- include('partials/footerP') %>

            </div>
            <div class="col-md-2 ad-right">
                <img src="/img/blackout.png" class="ad-image" alt="Propaganda Direita">
            </div>
        </div>
    </div>
   
</body>
<%- include('partials/footer') %>

