<%- include('partials/header') %>
<%- include('partials/homenavbar') %>



<body>
    <style>
        .ad-left, .ad-right {
            background-size: cover;
            background-position: center;
            height: 100vh; /* ou ajuste conforme necessário */
        }
        .ad-left {
            background-image: url('../public/img/blackout.png');
        }
        .ad-right {
            background-image: url('../public/img/blackout.png');
        }
        .content {
            height: 100vh; /* ou ajuste conforme necessário */
            overflow-y: auto; /* para permitir rolagem se o conteúdo for maior que a altura da viewport */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ad-left">
                <!-- Propaganda esquerda -->
            </div>
            <div class="col-md-8 content" style="margin-top: 80px; max-width: 800px;">
                <div class="row">
                    <% if (articles.length > 0) { %>
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <a href="/<%= articles[0].slug%>">
                                    <img src="/<%= articles[0].image%>" style="max-width: 100%; height: auto;">
                                    <div class="card-body">
                                        <a class="btn btn-warning" href="/<%= articles[0].slug%>">Ler Matéria</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="row">
                    <% articles.forEach((article) => { %>
                    <div class="col-md-4" style="position: relative; margin-top: 20px; margin-bottom: 20px; height: 200px;">
                        <div class="card mb-4" style="height: 100%;">
                            <a href="/<%= article.slug %>">
                                <img src="/<%= article.image%>" alt="" style="max-width: 100%;">
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-md-2 ad-right">
                <!-- Propaganda direita -->
            </div>
        </div>
    </div>

</body>
<%- include('partials/footer') %>

<%- include('partials/footerP') %>