<%- include('partials/header') %>
<%- include('partials/homenavbar') %>



<body>
    <style>
        .ad-left, .ad-right {
            display: block;
            justify-content: center;
            align-items: center;
            height: 600px;
            margin-top: 80px;
        }
        .ad-image {
            width: 571px;
            height: 320px;
            object-fit:scale-down;
            display: block;
            width: 100%; /* Ajuste conforme necessário */
            margin-bottom: 40px;
            display: block;
            
        }
        .content {
            height: 100vh; 
            
        }

        @media (max-width: 767.98px) {
            .ad-left, .ad-right {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 ad-left" style="">
                <a href="https://www.instagram.com/blackout_eunapolis/">
                <img src="/img/blackout.png" class="ad-image" alt="Propaganda Esquerda">
            </a>
            <a href="https://site-imperial.vercel.app/">
                <img src="/img/imperial.jpg" class="ad-image" alt="Propaganda Esquerda">
            </a>

            
            </div>
            <div class="col-md-8 content" style="margin-top: 80px; max-width: 800px;">
                <div class="row">
                    <% if (articles.length > 0) { %>
                        <div class="col-md-12">
                            <div class="card mb-4">
                                <a href="/<%= articles[0].slug %>">
                                    <img src="/<%= articles[0].image %>" style="max-width: 100%; height: auto;">
                                    <div class="card-body">
                                        <a class="btn btn-warning" href="/<%= articles[0].slug %>">Ler Matéria</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
                <h1 class="display-4">Destaques</h1>

                <div class="row">
                    <% articles.forEach((article) => { %>
                    <div class="col-md-4" style="position: relative; margin-top: 40px; margin-bottom: 190px; height: 200px; py-4">
                        <div class="card mb-4" style="height: 100%;">
                            <a href="/<%= article.slug %>">
                                <img src="/<%= article.image %>" alt="" style="max-width: 100%;">
                            </a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            
                <%- include('partials/footerP') %>

            </div>
            <div class="col-md-2 ad-right">
                <img src="/img/blackout.png" class="ad-image" alt="Propaganda Direita">
            </div>
        </div>
    </div>
   
</body>
<%- include('partials/footer') %>

